body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.faq-container {
  width: 100%;
}

.faq-inner {
  width: 1058PX;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 0 auto;
  
}
/* ----------- */
.faq-heading {
  font-size: 32px;
  font-family: Raleway;
  text-align: center;
  color: #0F3C29;
  font-weight: 600;
}

.faq-item {
  background-color: #E8F0ED;             
  border-radius: 16px;
  border: 1px solid #ffffff;
  margin: 0;
  padding: 32px 18px;
}

.faq-question span {
  font-weight: 600;
  font-family: Raleway;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #333;
  background-color: #E8F0ED;           
  border-bottom: 1px solid #ffffff;     
  transition: background-color 0.3s ease;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;

}


.faq-arrow {
  transition: transform 0.3s ease;
  color: #1C1B1F;
}

.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  background-color: #E8F0ED;             
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 20px;
  color: #444;
  font-size: 22px;
  line-height: 1.6;
  font-family: Raleway;
}

.faq-answer-show {
  max-height: 300px;
  padding: 16px 20px;
  border-top: 1px solid #d7e9e0;
}


@media (max-width: 834px) {
  .faq-inner {
    width: 834px;
  }

  .faq-item {           
  border-radius: 16px;
  padding: 24px 18px;
  width: 748px;
}
.faq-question {
  width: auto;
  font-size: 22px;
}
.faq-answer {
    padding: 0 15px;
    font-size: 20px;
}

}

@media (max-width: 440px) {
    .faq-inner {
    width: 440px;
  }

  .faq-item {           
  border-radius: 16px;
  padding: 12px 16px;
  width: 394px;
}
.faq-question {
  width: auto;
  font-size: 16px;
}
.faq-heading {
  font-size: 20px;
}
.faq-answer {
    padding: 0 10px;
    font-size: 14px;
}
}

