body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.faq-container {
  width: 100%;
}

.faq-inner {
  width: 100%;
  max-width: 1058px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.faq-heading {
  font-size: 32px;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #4D4D4D;
  font-weight: 500;
  line-height: 38px;
}

.faq-item {
  background-color: #E8F0ED;
  border-radius: 16px;
  border: 1px solid #ffffff;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
}

.faq-question {
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'raleway';
  display: flex;
  justify-content: space-between;

}


.faq-question:hover,
.faq-question:focus {
  background-color: #c4c4c4;
}

.faq-arrow {
  transition: transform 0.3s ease;
  color: #1C1B1F;
}

.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  background-color: #E8F0ED;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 20px;
  color: #444;
  font-size: 14px;
  line-height: 1.8;
  font-family: Raleway, sans-serif;
}

.faq-answer-show {
  max-height: 300px;
}


@media (min-width: 440px) and (max-width: 833px)  {
  .faq-inner {
    max-width: 440px;
  }

  .faq-heading {
    font-size: 16px;
    line-height: 19px;
  }

  .faq-item {
    padding: 12px 16px;
    width: 394px;
  }

  .faq-question {
    font-size: 10px;
    line-height: 12px;
  }

  .faq-answer {
    font-size: 8px;
    padding: 0 10px;
  }
}

@media (min-width: 834px) and (max-width: 1439px) {
  .faq-inner {
    width: 834px;
  }

  .faq-heading {
    font-size: 24px;
    line-height: 39px;
  }

  .faq-item {
    padding: 24px 18px;
    max-width: 748px;
  }

  .faq-question {
    font-size: 20px;
    line-height: 32px;
  }

  .faq-answer {
    font-size: 18px;
    padding: 0 15px;
  }
}


@media (min-width: 1440px) {
  .faq-inner {
    max-width: 1058px;
  }
  .faq-item {
    padding: 32px 18px;
  }
  .faq-answer {
    padding: 0 20px;
  } 
  .faq-answer {
  font-size: 22px;
}
}
