*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    font-style: normal;
}
header{
    text-align: center;
}
.main{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.OurRange{
    max-width: 1400px;

}
.OurRange h3#title{
    text-align: center;
    font-size: 32px;
    line-height: 38.4px;
    padding-block: 40px;
    font-weight: 500;
}
.products{
    padding: 5px 40px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}
.products .product{
            display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 245px;
    height: 305px;

}
.products .product .img{
    border-radius: 24px;
    border: 1px solid #F7A1A3;
    overflow: hidden;
    width: 213px;
    height: 210px;
}
.products .product .img img{
    height: 100%;
    width: 100%;
    transition: transform 1s;
    object-fit: cover;
    object-position: center;
}
.products .product .img img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.products .product .product-name{
    text-align: center;
    font-size: 32px;
    line-height: 38.4px;
    padding-block: 10px;
    font-weight: 400;
}

footer{
    text-align: center;
    margin-top: 30px;
}


/* media query start */

@media screen and (max-width:1440px) {
    .OurRange{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .OurRange h3#title{
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 500;
}
.products .product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 834px;
}
.products .product .product-name{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.products .product .img{
    width: 203px;
    height: 150px;
}
.products .product{
    width: 235px;
    height: 213px;
    
}
}


@media screen and (max-width:834px){
   .OurRange h3#title{
    font-size: 20px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 10px;
    gap: 10px;
    width: 393px;
}
.products .product .img{
    width: 100px;
    height: 103px;
}
.products .product .product-name{
    font-size: 14px;
    font-weight: 400;
}
.products .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    height: 175px;
}
}
